

html{font-family: 'Overpass', sans-serif; background-color:hsl(216, 12%, 8%) ;}
main{
    margin: 15em 30em auto;
}

#Card, #Card2{  
    width: 400px;
    height:450px ;
    padding: 40px; 
    padding-top: 40px; 
    background-color: #252d37;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50px;
}

#Card2{display: none;}

#Card h1, #Card2 h1{
    font-weight: 700px;
    color: #ffffff;
}

#Card p, #Card2 p{
    justify-content: center;
    font-weight: 400px;
    color: #7c8798;
    font-size: 18px;
}

#Card .figura{
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color:hsl(213, 30%, 22%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 50px;
    
}

#Card .image{
    width: 20px;
    height: 20px;
    
}

#Card .numbers{
    display: flex;
    
    
}

#Card .numbers p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 60px;
    text-align: center;    
    background: hsl(213, 30%, 22%) ;
    margin-right: 20px;
    border-radius: 50px;
    color: #7c8798;
    font-weight: 400px;
    font-size: 20px;
}

#Card .numbers .avaliacao:hover{
    cursor: pointer;
    background-color:#7c8798;
    color: #ffffff;
    transform: translateY(-5px);
}


.Submit{
    width: 100%;
    height: 60px;
    background-color:#ffffff ;
    border-radius: 40px;
    text-align: center;
    padding: 15px;
    font-size: 30px;
    font-weight: 700px;
    color: #fb7413;
    display: flex;
    justify-content: center;
    align-items: center;
}



.Submit:hover{
    cursor: pointer;
    background-color: #fb7413;
    color: #FFF;
    
}


#Card2 .figura2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

#Card2 .image2{
    width: 200px;
    
}

#Card2 .Selected{
    width: 240px;  
    margin: auto;  
    background-color: hsl(213, 30%, 22%);
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 40px;
}

#Card .Selected p{
    color: #fb7413;
}

#Card2 h1,.thanksp{
    text-align: center;
}

#Card2 p{
    font-size: 17.5px;
}


.avaliacao{
    background-color:#fb7413;
    color: #ffffff;
}

    .attribution { font-size: 11px; text-align: center; color: #7c8798;}
    .attribution a { color: hsl(228, 45%, 44%); }