

html{font-family: 'Overpass', sans-serif; background-color:hsl(216, 12%, 8%) ;}
main{
    margin: 12em 30em auto;
}

#Card, #Card2{  
    width: 400px;
    height:450px ;
    padding: 40px; 
    padding-top: 40px; 
    background-color: #252d37;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50px;
}

#Card2{
    display: none;
    
    
}



#Card h1, #Card2 h1{
    font-weight: 700px;
    color: #ffffff;
}

#Card .text, #Card2 p{
    justify-content: center;
    font-weight: 400px;
    color: #7c8798;
    font-size: 18px;
}

#Card .figura{
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color:hsl(213, 30%, 22%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 50px;
    
}

#Card .image{
    width: 20px;
    height: 20px;
    
}



.avaliacao{   
    display: flex;    
    text-align: left;
    height: 50px;
    margin-bottom: 100px;
    margin-top: -25px;
    
    
    
}

.star-icon{ 
    list-style-type: none;        
    cursor: pointer;
    color: #fb7413;
    font-size: 80px;      
    text-align: center;
    margin: auto;
    
}

.star-icon::before{    
    content: "\2605";
}

.star-icon.ativo ~ .star-icon::before{
    content: "\2606";
}

.avaliacao:hover .star-icon::before{
    content: "\2605";
}

.star-icon:hover ~ .star-icon::before{
    content: "\2606";
}







.Submit-btn{
    width: 100%;
    height: 60px;
    background-color:#ffffff ;
    border-radius: 40px;
    text-align: center;
    padding: 15px;
    font-size: 30px;
    font-weight: 700px;
    color: #fb7413;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    border-style: none;
}



.Submit-btn:hover{
    cursor: pointer;
    background-color: #fb7413;
    color: #FFF;
    
}


.figura2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.image2{
    width: 200px;
    
}

.Selected{
    width: 240px;  
    margin: auto;  
    background-color: hsl(213, 30%, 22%);
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 40px;
}

.Selected p{
    color: #fb7413;
}

#Card2 h1,.thanksp{
    text-align: center;
}

#Card2 p{
    font-size: 17.5px;
}



    
    .attribution { font-size: 11px; text-align: center; color: #7c8798; margin-top: 50px;}
    .attribution a { color: hsl(228, 45%, 44%); }